<!DOCTYPE html>
<html ng-app="DashPlayer" lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Dash JavaScript Player</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/png" href="http://dashpg.com/w/2012/09/dashif.ico" />
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no">

    <link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/lib/bootstrap/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="app/lib/angular.treeview/css/angular.treeview.css">
    <link rel="stylesheet" href="app/css/main.css">

    <!-- http://jquery.com/ -->
    <script src="app/lib/jquery/jquery-1.10.2.min.js"></script>

    <!-- http://angularjs.org/ -->
    <script src="app/lib/angular/angular.min.js"></script>
    <script src="app/lib/angular/angular-resource.min.js"></script>

    <!-- http://getbootstrap.com/ -->
    <script src="app/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- https://github.com/eu81273/angular.treeview -->
    <script src="app/lib/angular.treeview/angular.treeview.min.js"></script>

    <!-- Player -->
    <script src="app/js/dash.all.js"></script>

    <!-- Hive Deps -->
    <script src="app/lib/protobuf/ByteBuffer.min.js"></script>
    <script src="app/lib/protobuf/Long.min.js"></script>
    <script src="app/lib/protobuf/ProtoBuf.min.js"></script>
    <script src="app/lib/md5.js"></script>
    <script src='app/lib/lib-typedarrays-min.js'></script>
    <script src="app/lib/adapter.js"></script>
    <script src="app/lib/lodash.min.js"></script>

    <!-- Hive --> 
    <script src="app/js/hive.min.js"></script>
    
    <!-- App -->
    <script src="app/metrics.js"></script>
    <script src="app/main.js"></script>
  </head>
  <body ng-controller="DashController">
    <div class="modal fade" id="streamModal">
      <div class="modal-dialog">
        <div class="list-group modal-list">
          <a
            ng-repeat="item in availableStreams"
            href="#"
            class="list-group-item"
            ng-click="setStream(item)"
            data-dismiss="modal"
            ng-show="isStreamAvailable(item.browsers)">
            {{item.name}}
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row title-header">
        <a href="http://dashif.org/" target="_blank"><img class="image" src="app/img/if.png"/></a>
        <span id="big-title">Reference Client</span>
        <span>{{version}}</span>
        <a href="http://www.hivestreaming.com" target="_blank"><img class="image" src="app/img/hive.png" align="right"/></a>
      </div>

      <div class="row">
        <div class="input-group">
          <div id="desktop-streams" class="input-group-btn">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Stream <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li
              ng-repeat="item in availableStreams"
              ng-click="setStream(item)"
              ng-show="isStreamAvailable(item.browsers)">
              <a>{{item.name}}</a>
              </li>
            </ul>
          </div>
          <div id="mobile-streams" class="input-group-btn">
            <button type="button" class="btn btn-primary" data-toggle="modal" href="#streamModal">
              Stream <span class="caret"></span>
            </button>
          </div>
          <input type="text" class="form-control" placeholder="manifest" ng-model="selectedItem.url" id="player-manifest-url">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="doLoad()">Load</button>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="dash-video-player col-md-9">
          <video controls="true"></video>
        </div>
        <div class="col-md-3">
          <div class="panel">
            <div class="panel-heading panel-top">
              <span class="panel-title">ABR</span>
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-class="{active:abrEnabled == false}"
                  ng-click="setAbrEnabled(false)">
                  <span>Off</span>
                </button>
                <button
                  type="button"
                  class="btn btn-default"
                  ng-class="{active:abrEnabled == true}"
                  ng-click="setAbrEnabled(true)">
                  <span>On</span>
                </button>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading panel-top">
              <span class="panel-title">LOG</span>
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-default active"
                  ng-class="{active:logEnabled == false}"
                  ng-click="setLogEnabled(false)">
                  <span>Off</span>
                </button>
                <button
                  type="button"
                  class="btn btn-default"
                  ng-class="{active:logEnabled == true}"
                  ng-click="setLogEnabled(true)">
                  <span>On</span>
                </button>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading panel-top">
              <span class="panel-title">Video</span>
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="abrDown('video')">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="abrUp('video')">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
            <div class="panel-body panel-stats">
              <p class="text-warning">{{videoBitrate}} kbps</p>
              <p class="text-primary">Rep Index: <span class="text-success">{{videoIndex}}</span><span class="text-warning">{{videoPendingIndex}}</span>/<span class="text-success">{{videoMaxIndex}}</span></p>
              <p class="text-primary">Buffer Length: <span class="text-success">{{videoBufferLength}}</span></p>
            </div>
          </div>
          <div class="panel">
            <div class="panel-heading panel-top">
              <span class="panel-title">Audio</span>
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="abrDown('audio')">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="abrUp('audio')">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
            <div class="panel-body panel-stats">
              <p class="text-warning">{{audioBitrate}} kbps</p>
              <p class="text-primary">Rep Index: <span class="text-success">{{audioIndex}}</span><span class="text-warning">{{audioPendingIndex}}</span>/<span class="text-success">{{audioMaxIndex}}</span></p>
              <p class="text-primary">Buffer Length: <span class="text-success">{{audioBufferLength}}</span></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panel">
          <div class="panel-heading panel-top">
            <span class="panel-title">Hive stats</span><br/>
            <b class="text-primary">Savings: <span id="metrics-savings"> - </span> %</b><br/>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Metric</th>
                  <th>Request/Response count</th>
                  <th>Received bytes</th>
                  <th>Errors</th>
                </tr>
              </thead>
              <tbody id="metrics-summary">
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panel">
          <div class="panel-heading panel-top">
            <span class="panel-title">Hive Network - <span id="peer-guid"></span></span>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Peer</th>
                  <th>Connection State</th>
                  <th>Channel State</th>
                  <th>ICE Connection State</th>
                  <th>ICE Gathering State</th>
                </tr>
              </thead>
              <tbody id="peers">
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="panel">
          <div class="panel-heading panel-top">
            <span class="panel-title">Charts</span>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-default"
                ng-class="{active:showCharts == false}"
                ng-click="setCharts(false)">
                Hide
              </button>
              <button
                type="button"
                class="btn btn-default"
                ng-class="{active:showCharts == true}"
                ng-click="setCharts(true)">
                Show
              </button>
            </div>
          </div>
          <div ng-switch on="showCharts">
            <div class="panel-body panel-stats" ng-switch-when="true">
              <chart ng-model="bufferData"></chart>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panel">
          <div class="panel-heading panel-top">
            <span class="panel-title">Debug</span>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-default"
                ng-class="{active:showDebug == false}"
                ng-click="setDebug(false)">
                Hide
              </button>
              <button
                type="button"
                class="btn btn-default"
                ng-class="{active:showDebug == true}"
                ng-click="setDebug(true)">
                Show
              </button>
            </div>
          </div>
          <div ng-switch on="showDebug">
            <div class="panel-body panel-stats" ng-switch-when="true">
              <ul class="nav nav-tabs">
                <li class="dropdown">
                <a href="#" id="metricsDropdown" class="dropdown-toggle" data-toggle="dropdown">Metrics <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="metricsDropdown">
                  <li><a href="#video-metrics" tabindex="-1" data-toggle="tab">Video</a></li>
                  <li><a href="#audio-metrics" tabindex="-1" data-toggle="tab">Audio</a></li>
                </ul>
                </li>
                <li><a href="#notes" data-toggle="tab">Release Notes</a></li>
              </ul>
              <div id="debugTabContent" class="tab-content">
                <div class="tab-pane" id="video-metrics">
                  <button
                    type="button"
                    class="btn btn-default"
                    ng-click="getVideoTreeMetrics()">
                    Video - Update
                  </button>
                  <div
                    class="tree"
                    data-angular-treeview="true"
                    data-tree-model="videoMetrics"
                    data-node-label="text"
                    data-node-children="items">
                  </div>
                </div>
                <div class="tab-pane" id="audio-metrics">
                  <button
                    type="button"
                    class="btn btn-default"
                    ng-click="getAudioTreeMetrics()">
                    Audio - Update
                  </button>
                  <div
                    class="tree"
                    data-angular-treeview="true"
                    data-tree-model="audioMetrics"
                    data-node-label="text"
                    data-node-children="items">
                  </div>
                </div>
                <div class="tab-pane" id="notes">
                  <div ng-repeat="note in releaseNotes" class="note-box">
                    <span><b>{{note.title}}</b></span><br/>
                    <span ng-repeat="text in note.items">
                      {{text}}<br/>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
